<% if @article.errors.any? %>

<h2>Following errors prevented the article from getting created</h2>

<ul>
  <% @article.errors.full_messages do |msgs| %>
  <li><% print msgs %></li>
  <% end %>
</ul>

<% end %>

<%= form_for @article do |f| %>
<p>
  <%= f.label :title %></br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :desciption %></br>
  <%= f.text_area :desciption %>
</p>
<p>
  <%= f.submit %>
</p>


<% end %>
<p>
  <%= link_to 'List Articles', articles_path %>
</p>
